@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@300;500&display=swap');

:root { --bar-height: 80px }
@media screen and (resolution >= 3.125dppx) and (max-width <=1440px) {
	:root { --bar-height: 160px }
}

@media (prefers-color-scheme: dark) {
	/* dark theme */
}

body, html { 
	margin: 0px !important;
	padding: 0px !important;
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	font-weight: 300;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	text-align: center;
	line-height: 30px;
	font-weight: 300;
}

/* 
 * hack to get the simplified mode thingy to go away on chrome mobile 
 * man i hate mobile
 */
.p {
	text-indent: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 25px;
	padding-top: 20px;
	font-weight: 300;
}

hr {
	background-color: #000000;
	width: 180px;
	height: 1px;
	border-width: 0;
}

#top-bar-template {
	width: 100%;
}

.main {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	min-width: 400px;
	margin: auto;
	min-height: calc(100vh - 40px);
}

.main-404 {
	padding-top: 20px;
	height: calc(100vh -  180px);
	min-height: 80px;
}

#hello {
	background: #f0f0f0;
	padding-top: 80px;
}

#about {
	background: #e8e8e8;
}

#projects {
	background: #f0f0f0;
}

/* 
 * blinking bs for the top bar cursor thanks to 
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink
 * yes i know they said not to do this but whatever
 */
blink {
	animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
	0% { visibility: hidden; }
	50% { visibility: hidden; }
	100% { visibility: visible; }
}
