/* 
 * blinking bs for the top bar cursor thanks to 
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink
 * yes i know they said not to do this but whatever
 */

blink {
	animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
	0% { visibility: hidden; }
	50% { visibility: hidden; }
	100% { visibility: visible; }
}

.top-bar {
	align-items: left;
	display: flex;
	align-items: center;

	padding-top: 0px;
	width: 100%;
	height: var(--bar-height);

    background: var(--color-accent);
	box-shadow: 0px 1px 5px grey;
	
	top: 0;
	position: fixed;
	transition: top 0.3s;

	z-index: 1000;
	container-type: inline-size;
}

.top-bar-padding { flex-grow: 1; }
.top-bar-padding-right { width: min(2cqh, 1.5vw); }

.top-bar a {
	text-decoration: none;
	color: white;
}

.home-button {
	height: 80%;
	display: flex;
	align-items: center;
	padding-left: min(2cqh, 1.5vw);
}

.home-text {
	font-family: 'Roboto Mono', monospace;
	font-size: min(2cqh, 3.5cqw);
	font-weight: 900;
}

.top-bar-button {
	font-family: 'Roboto Mono', monospace;
	font-size: min(1.6cqh, 2.5cqw);
	font-weight: bold;
	height: 80%;
	padding-right: min(2cqh, 1.5vw);
	padding-left: min(2cqh, 1.5vw);
}

.top-bar-button:hover {
	color: #dddddd;
}